<div class="container-fluid">
  <header class="text-center my-4 header">
    <h1>Welcome to <b>Seam POS</b></h1>
  </header>

  <h3 class="mt-5 text-center quick-actions-title">Quick Actions</h3>
  <div class="row my-4">
    <div class="col-md-12">
      <ul class="list-group">
        <li *ngFor="let action of quickActions" class="list-group-item d-flex justify-content-between align-items-center action-item">
          <i class="fa {{ action.icon }} mr-2"></i>
          <span class="action-title">{{ action.title }}</span>
          <a [routerLink]="action.link" class="btn btn-link">Go</a>
        </li>
      </ul>
    </div>
  </div>

  <h3 class="mt-5 text-center statistics-title">Statistics</h3>
  <div class="row my-4">
    <div class="col-md-4">
      <div class="card text-center card-statistics">
        <div class="card-header bg-primary text-white">Total Stock Items</div>
        <div class="card-body">
          <h5 class="card-title">{{ statistics.totalStockItems }}</h5>
          <a [routerLink]="['/items']" class="btn btn-light">View Details</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center card-statistics">
        <div class="card-header bg-success text-white">Total Customers</div>
        <div class="card-body">
          <h5 class="card-title">{{ statistics.totalCustomers }}</h5>
          <a [routerLink]="['/customers']" class="btn btn-light">View Details</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center card-statistics">
        <div class="card-header bg-warning text-white">Total Employees</div>
        <div class="card-body">
          <h5 class="card-title">{{ statistics.totalEmployees }}</h5>
          <a [routerLink]="['/employees']" class="btn btn-light">View Details</a>
        </div>
      </div>
    </div>
  </div>

  <footer class="text-center my-4">
    <p>Please visit our <a href="https://seamlineinnovations.com/" target="_blank">website</a> for more information.</p>
    <p>You are using SeamPos Version <span class="badge badge-info">1.2</span></p>
  </footer>
</div>
