<header id="header" (mouseenter)="showSidebarOnHover()" (mouseleave)="hideSidebar()">
  <h1>
    <a href="/">
      <img src="https://www.poss.seamlineinnovations.com/img/seamlogo.png" alt="Seam POS Logo" />
    </a>
  </h1>
  <a id="menu-trigger" href="#" (click)="toggleSidebar()"><i class="fa fa-bars fa-2x"></i></a>
  
  <div id="user-nav" class="hidden-xs">
    <ul class="btn-group">
      <li class="btn">
        <a title="Switch User" href="#" (click)="onUserSwitch()">
          <i class="icon fa fa-user fa-2x"></i> 
          <span class="text">Welcome <b>{{ username }}</b></span>
        </a>
      </li>
      <li class="btn disabled">
        <a title="Current Time" href="#">
          <i class="icon fa fa-clock-o fa-2x"></i> 
          <span class="text">{{ currentTime }}</span>
        </a>
      </li>
      <li class="btn">
        <a href="/settings">
          <i class="icon fa fa-cog"></i>
          <span class="text">Settings</span>
        </a>
      </li>
      <li class="btn">
        <a href="/logout">
          <i class="fa fa-power-off"></i>
          <span class="text">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</header>

