<form [formGroup]="storeConfigForm" (ngSubmit)="submit()">
  <div formArrayName="tiers">
    <table>
      <thead>
        <tr>
          <th>Tier Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tier of tiers.controls; let i = index">
          <td>
            <input
              type="text"
              [formControl]="getFormControl(i)"
              placeholder="Tier Name"
            />
          </td>
          <td>
            <button type="button" (click)="removeTier(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button type="button" (click)="addTier()">Add Tier</button>
  <button type="submit">Submit</button>
</form>
