<div id="register_container" class="sales clearfix">
    <div id="content-header" class="hidden-print sales_header_container">
      <h1 class="headigs">
        <i class="icon fa fa-shopping-cart"></i>
        Field Sales Register 
        <span id="ajax-loader">
          <img src="https://www.poss.seamlineinnovations.com//img/ajax-loader.gif" alt=""/>
        </span>
      </h1>
    </div>
  
    <div class="clear"></div>
  
    <div class="row">
      <div class="sale_register_leftbox col-md-9">
        <div class="row forms-area">
          <div class="col-md-2 no-padd">
            <ul class="list-group">
              <li class="list-group-item item_tier">
                <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
                  <input formControlName="employee" type="text" class="input-xlarge" placeholder="Type employee name..." />
                </form>
              </li>
            </ul>
          </div>
  
          <div class="col-md-8 no-padd"></div>
  
          <div class="col-md-2 no-padd">
            <label>Register Mode
              <select formControlName="mode" class="form-control" (change)="onModeChange()">
                <option value="sale">Sale</option>
                <option value="store_account_payment">Credit Account Payment</option>
              </select>
            </label>
          </div>
        </div>
  
        <div class="row">
          <div class="table-responsive">
            <table id="register" class="table table-bordered">
              <thead>
                <tr>
                  <th></th>
                  <th class="item_name_heading">Item Name</th>
                  <th class="sales_item sales_items_number">Item #</th>
                  <th class="sales_stock">Stock</th>
                  <th class="sales_price">Cost price</th>
                  <th class="sales_price">Price Mode</th>
                  <th class="sales_price">Price</th>
                  <th class="sales_quality">Qty.</th>
                  <th class="sales_discount">Disc %</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody id="cart_contents" class="sa">
                <tr class="cart_content_area">
                  <td colspan='8'>
                    <div class='text-center text-warning'>
                      <h3>Welcome to Seam POS</h3>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ul class="list-inline pull-left">
            <li>
              <a href="https://www.poss.seamlineinnovations.com/index.php/reports/detailed_sales" class="btn btn-info" title="Search Sales">Search Sales</a>
            </li>
          </ul>
          <ul class="list-inline pull-right" id="global_discount">
            <li>
              <form (ngSubmit)="submitForm()">
                <label id="discount_all_percent_label" for="discount_all_percent">Global Sale Discount: </label>
                <input formControlName="discount" type="text" id="discount_all_percent" size="3" />%
                <button type="submit" class="btn btn-success">Submit</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="col-md-3 sale_register_rightbox">
        <ul class="list-group">
          <li class="list-group-item nopadding">
            <!-- Cancel and suspend buttons -->
          </li>
          <li class="list-group-item item_tier">
            <h5 class="customer-basic-information">Select Customer (Optional)</h5>
            <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
              <input formControlName="customer" type="text" id="customer" size="30" placeholder="Type customer name..." />
            </form>
            <div id="add_customer_info">
              <div id="common_or" class="common_or">
                <a href="https://www.poss.seamlineinnovations.com/index.php/customers/view/-1/3" class="btn btn-primary none" title="New Customer" id="new-customer">
                  <div class='small_button'> <span>New Customer</span> </div>
                </a>
              </div>
            </div>
          </li>
          <li class="list-group-item spacing"></li>
          <li class="list-group-item nopadding">
            <div id='sale_details'>
              <table id="sales_items" class="table">
                <tr class="warning">
                  <td class="left">Items In Cart:</td>
                  <td class="right">0</td>
                </tr>
                <tr class="info">
                  <td class="left">Sub Total:</td>
                  <td class="right">Ksh0.00</td>
                </tr>
                <tr class="success">
                  <td>
                    <h3 class="sales_totals">Total:</h3>
                  </td>
                  <td>
                    <h3 class="currency_totals">Ksh0.00</h3>
                  </td>
                </tr>
              </table>
            </div>
          </li>
          <li class="list-group-item spacing"></li>
          <li class="list-group-item nopadding"></li>
        </ul>
      </div>
    </div>
  </div>
  