<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Username</label>
    <input id="username" formControlName="username" />
    <small *ngIf="loginForm.get('username')?.errors?.['required']">Username is required.</small>
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" />
    <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
  </div>

  <button type="submit">Login</button>
</form>
