<body>
  <div class="sidebar">
    <ul>
      <li><a href="/customers">Customers</a></li>
      <li><a href="/items">Stock Items</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/expenses">Expenses</a></li>
      <li><a href="/suppliers">Suppliers</a></li>
      <li><a href="/reports">Reports</a></li>
      <li><a href="/receivings">Receivings</a></li>
      <li><a href="/allocations">Stock Allocations</a></li>
      <li><a href="/employee_sales">Field Sales</a></li>
      <li><a href="/sales">Shop Sales</a></li>
      <li><a href="/employees">Employees</a></li>
      <li><a href="/config">Store Config</a></li>
      <li><a href="/locations">Locations</a></li>
    </ul>
  </div>
  <!-- Rest of your page content -->
</body>
