<!-- customer.component.html -->
<div class="container">
    <h1 class="text-center">Customers</h1>
  
    <div class="row mb-3">
      <div class="col-md-12 text-center">
        <button class="btn btn-primary" (click)="addCustomer()">New Customer</button>
        <button class="btn btn-primary" [disabled]="!selectedCustomers.length" (click)="sendEmail()">E-Mail</button>
        <button class="btn btn-primary" (click)="importExcel()">Excel Import</button>
        <button class="btn btn-primary" (click)="exportExcel()">Excel Export</button>
        <button class="btn btn-danger" [disabled]="!selectedCustomers.length" (click)="deleteCustomers()">Delete</button>
        <button class="btn btn-warning" (click)="cleanupCustomers()">Cleanup old customers</button>
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col-md-12">
        <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Search Customers" (input)="filterCustomers()"/>
      </div>
    </div>
  
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th><input type="checkbox" (change)="toggleAll($event)"/></th>
          <th>Person ID</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>E-Mail</th>
          <th>Phone Number</th>
          <th>Balance</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of filteredCustomers">
          <td><input type="checkbox" [(ngModel)]="customer.selected" (change)="updateSelection()"/></td>
          <td>{{customer.personId}}</td>
          <td>{{customer.lastName}}</td>
          <td>{{customer.firstName}}</td>
          <td><a [href]="'mailto:' + customer.email">{{customer.email}}</a></td>
          <td>{{customer.phoneNumber}}</td>
          <td>{{customer.balance}}</td>
          <td>
            <button class="btn btn-info" (click)="viewCustomer(customer)">View</button>
            <button class="btn btn-warning" (click)="editCustomer(customer)">Edit</button>
            <button class="btn btn-success" (click)="payCustomer(customer)">Pay</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  